<div class="menu">
    <div class="header-menu">
        <div class="menu-close-wrp">
            <div class="menu-close"></div>
            <p>МЕНЮ</p>
        </div>
        <div class="cart-wrp">
            <p class="phone">+7 (123) 456-78-90</p>
            <p class="cart-btn">корзина</p>
        </div>
    </div>
    <ul class="menu-content">
        <li><a href="/">Главная</a></li>
        <li><a href="#">Кальяны</a></li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
    <div class="footer-menu">
        <p>© 2018 Богатыръ</p>
        <a href="/policy">Политика конфиденциальности</a>
    </div>
</div>
