.mCustomScrollBox > .mCSB_scrollTools {
    opacity: 1;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 3px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    width: 3px;
    background: #652929;
}
